* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
      background-color: hsl(210,46%,95%);
      height: 100vh;
      font-size: 13px;
      font-family: 'Barlow Semi Condensed', sans-serif;
  }

  main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 320px 270px;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    width: 100%;
    max-width: 1140px;
    padding: 20px 10px;
    grid-template-areas:
        "box-1 box-1 box-2 box-3"
        "box-4 box-5 box-5 box-3"
    ;
    margin: 6rem auto;
    animation: fadeIn 2s;
  }

  

.daniel,
.jonathan,
.kira,
.jeanette,
.patrick {
  padding: 30px ;
  border-radius: 8px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.daniel{
    background-color: hsl(263,55%,52%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: box-1;
}

.daniel .user img:first-child {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #a174dd;
  }
  .daniel .user img:nth-child(4) {
    position: absolute;
    left: 65%;
    top: .2rem;
    z-index: 1;
    width: 130px;
  }
  .daniel .second-text,
  .jonathan .user h4 {
    color: #aa7eed;

  }

  .jonathan {
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: box-2;
  }
  .jonathan img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .jonathan .second-text,
  .jonathan .user h4 {
    color: #9097a7;
  }

  .kira {
    background-color: #fff;
    color: hsl(219, 29%, 14%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: box-3;
    padding-top: 25px;
  }
  
  .kira img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid hsl(210, 46%, 95%);
  }
  
  .kira .second-text,
  .kira .user h4 {
    color: #9c9fa4;
  }
  .jeanette {
    background-color: #fff;
    color: hsl(219, 29%, 14%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: box-4;    
  }
  
  .jeanette img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid hsl(210, 46%, 95%);
  }
  
  .jeanette .second-text,
  .jeanette .user h4 {
    color: #9c9fa4;
  }
  
  .patrick {
    background-color:  hsl(219, 29%, 14%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: box-5;
  }
  
  .patrick img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid hsl(263, 55%, 52%);
  }
  
  .patrick .second-text,
  .patrick .user h4 {
    color: #757984;
  }

.daniel .user,
.jonathan .user,
.kira .user,
.jeanette .user,
.patrick .user {
  margin-bottom: 10px;
}

.daniel .user h4,
.jonathan .user h4,
.kira .user h4,
.jeanette .user h4,
.patrick .user h4 {
  position: relative;
  top: -46px;
  left: 60px;
  z-index: 10;
}

.daniel .first-text,
.jonathan .first-text,
.kira .first-text,
.jeanette .first-text,
.patrick .first-text {
  font-size: 18px;
  z-index: 10;
  top: -1rem;
  position: relative;
}

.daniel .second-text,
.jonathan .second-text,
.kira .second-text,
.jeanette .second-text,
.patrick .second-text {
  margin-top: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  div{
    animation: slidein 2s;
  }

@keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    
    }
  
    to {
      margin-top: 0%;
      width: 100%;
     
    }
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

    @media(min-width:1200px){
      .daniel:hover, .jonathan:hover, .kira:hover, .jeanette:hover, .patrick:hover{
        transform: scale(1.1);
      }
    }
 
  @media screen and (min-width:992px) and (max-width:1000px) {

    body {
        height: 100%;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "box-1 box-1 box-2"
            "box-4 box-5 box-5"
            "box-3 box-3 box-3"
        ;
        max-width: 850px;
    }
    
}

@media screen and (min-width:768px) and (max-width:991px) {

    body {
        height: 100%;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.7fr 1.8fr 1.3fr;
        grid-template-areas:
            "box-1 box-1 box-2"
            "box-4 box-5 box-5"
            "box-3 box-3 box-3"
        ;
        max-width: 700px;
    }
    .daniel .user img:nth-child(4){
      width: 125px;
      height: 130px;
      top: .8rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {

    body {
        height: 100%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "box-1 box-1"
            "box-2 box-4"
            "box-3 box-3"
            "box-5 box-5"
        ;
        max-width: 500px;
    }
    .daniel .user img:nth-child(4){
      height: 140px;
      top: .6rem;
    }

}

@media screen and (min-width:377px) and (max-width:575px) {

    body {
        height: 100%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "box-1 box-1"
            "box-2 box-4"
            "box-5 box-5"
            "box-3 box-3"
        ;
        max-width: 500px;
    }
    .daniel .user img:nth-child(4){
      width: 130px;
      top: .8rem;
      right: 12px;
    }
    .jonathan .user, .jeanette .user{
     position: relative;
     left: -16px;
    }
}

@media screen and (min-width:0px) and (max-width:420px) {

    body {
        height: 100%;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr .5fr .8fr 1fr;
        grid-template-areas:
            "box-1"
            "box-2"
            "box-4"
            "box-5"
            "box-3"
        ;
        max-width: 330px;
    }
    .daniel .user img:nth-child(4){
      width: 100px;
      height: 120px;
      top: .8rem;
      right: 40px;
    }
}